// MIXINS
@mixin w-h($w: 50px, $h: 50px) {
  width: $w;
  height: $h;
}

@mixin flexbox($fd: row, $ai: center, $jc: center) {
  display: flex;
  flex-direction: $fd;
  align-items: $ai;
  justify-content: $jc;
}

.wrapper {
  @include flexbox($fd: column, $jc: flex-start);
  overflow-x: hidden;

  @media (max-width: 1199px) {
    .about {
      @include w-h(100vw, fit-content);
      @include flexbox($fd: column, $jc: flex-start);
      padding-top: 20vh;

      .title_container {
        @include w-h(400px, 100px);
        @include flexbox;
        margin-bottom: 30px;
        position: relative;

        .title {
          font-size: 30px;
        }
      }

      .paragraph_container {
        position: relative;
        margin-bottom: 30px;
      }

      .img_container {
        @include w-h(400px, 270px);

        img {
          @include w-h(100%, 100%);
          object-fit: cover;
        }
      }
    }

    .founder {
      @include w-h(100vw, auto);
      @include flexbox($fd: column);
    }
  }

  @media (max-width: 1399px) and (min-width: 1200px) {
    .about {
      @include w-h(100vw, 100vh);

      .title_container {
        @include w-h(400px, 100px);
        position: absolute;
        top: 22%;
        left: 9%;

        .title {
          font-size: 30px;
        }
      }

      .paragraph_container {
        position: absolute;
        top: 37%;
        left: 9%;
      }

      .img_container {
        @include w-h(auto, 70%);
        position: absolute;
        top: 18%;
        right: 12%;

        img {
          @include w-h(100%, 100%);
          object-fit: contain;
        }
      }
    }

    .founder {
      @include w-h(100vw, 100vh);
      @include flexbox;
    }
  }

  @media (min-width: 1400px) {
    .about {
      @include w-h(100vw, 100vh);

      .title_container {
        @include w-h(550px, 150px);
        position: absolute;
        top: 22%;
        left: 12%;

        .title {
          font-size: 50px;
        }
      }

      .paragraph_container {
        position: absolute;
        top: 42%;
        left: 15%;
      }

      .img_container {
        @include w-h(auto, 70%);
        position: absolute;
        top: 18%;
        right: 12%;

        img {
          @include w-h(100%, 100%);
          object-fit: contain;
        }
      }
    }

    .founder {
      @include w-h(100vw, 100vh);
      @include flexbox;
    }
  }

  .about {
    position: relative;
    background-color: black;

    .title_container {
      background-color: white;
      z-index: 10;

      .title {
        @include w-h(100%, 100%);
        @include flexbox;
        background-color: black;
        border: solid 2px white;
        position: absolute;
        transform: translate(-5px, -5px);

        span {
          font-weight: 700;
        }
      }
    }

    .paragraph_container {
      @include w-h(400px, 400px);
      background-color: white;
      z-index: 10;

      .paragraph {
        @include w-h(100%, 100%);
        @include flexbox($ai: flex-start);
        background-color: black;
        border: solid 2px white;
        position: absolute;
        transform: translate(-5px, -5px);
        padding: 20px;
      }
    }

    .img_container {
      padding: 10px;
      border: solid 2px white;

      .img {
        opacity: 0.8;
      }
    }
  }

  .founder {
    @include w-h(100vw, 100vh);
    background-color: black;
    position: relative;

    .img_container {
      @include w-h(auto, 70%);
      position: absolute;
      top: 50%;
      left: 20%;
      transform: translateY(-50%);
      padding: 10px;
      border: solid 2px white;

      .img {
        @include w-h(auto, 100%);
        object-fit: contain;
        opacity: 0.8;
      }
    }

    .info {
      @include w-h(600px, 600px);
      position: absolute;
      top: 18%;
      right: 15%;

      .founder_title_container {
        @include w-h(300px, 70px);
        background-color: white;
        position: absolute;
        top: 0%;
        right: 10%;

        .founder_title {
          @include w-h(100%, 100%);
          @include flexbox;
          position: absolute;
          background-color: black;
          border: solid 2px white;
          color: white;
          font-size: 20px;
          transform: translate(-5px, -5px);

          span {
            font-weight: 700;
          }
        }
      }

      .founder_name_container {
        @include w-h(350px, 80px);
        background-color: white;
        position: absolute;
        top: 9%;
        z-index: 5;

        .founder_name {
          @include w-h(100%, 100%);
          @include flexbox;
          background-color: black;
          border: solid 2px white;
          font-size: 40px;
          position: absolute;
          font-weight: 700;
          transform: translate(-5px, -5px);
        }
      }

      .founder_intro_container {
        @include w-h(400px, 400px);
        background-color: white;
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);

        .founder_intro {
          @include w-h(100%, 100%);
          background-color: black;
          border: solid 2px white;
          position: absolute;
          color: white;
          padding: 20px;
          font-size: 15px;
          transform: translate(-5px, -5px);
        }
      }
    }
  }
}
