// MIXINS
@mixin w-h($w: 50px, $h: 50px) {
  width: $w;
  height: $h;
}

@mixin flexbox($fd: row, $ai: center, $jc: center) {
  display: flex;
  flex-direction: $fd;
  align-items: $ai;
  justify-content: $jc;
}

.wrapper {
  @include flexbox($fd: column);
  overflow-x: hidden;

  .about {
    @include w-h(100vw, 100vh);
    position: relative;
    background-color: black;

    .img_container {
      @include w-h(auto, 70%);
      position: absolute;
      top: 18%;
      right: 15%;
      padding: 10px;
      border: solid 2px white;

      .img {
        @include w-h(auto, 100%);
        object-fit: contain;
        opacity: 0.8;
      }
    }

    .title_container {
      @include w-h(550px, 150px);
      background-color: white;
      position: absolute;
      top: 10%;
      left: 15%;
      z-index: 10;

      .title {
        @include w-h(100%, 100%);
        @include flexbox;
        font-size: 50px;
        background-color: black;
        border: solid 2px white;
        position: absolute;
        transform: translate(-10px, -10px);

        span {
          font-weight: 700;
        }
      }
    }

    .paragraph_container {
      @include w-h(400px, 400px);
      background-color: white;
      position: absolute;
      top: 60%;
      left: 18%;
      transform: translateY(-50%);
      z-index: 10;

      .paragraph {
        @include w-h(100%, 100%);
        @include flexbox($ai: flex-start);
        background-color: black;
        border: solid 2px white;
        position: absolute;
        transform: translate(-10px, -10px);
        padding: 20px;
      }
    }
  }

  .founder {
    @include w-h(100vw, 100vh);
    @include flexbox;
    background-color: black;
    position: relative;

    .img_container {
      @include w-h(auto, 70%);
      position: absolute;
      top: 50%;
      left: 20%;
      transform: translateY(-50%);
      padding: 10px;
      border: solid 2px white;

      .img {
        @include w-h(auto, 100%);
        object-fit: contain;
        opacity: 0.8;
      }
    }

    .info {
      @include w-h(600px, 600px);
      position: absolute;
      top: 18%;
      right: 15%;

      .founder_title_container {
        @include w-h(300px, 70px);
        background-color: white;
        position: absolute;
        top: 0%;
        right: 10%;

        .founder_title {
          @include w-h(100%, 100%);
          @include flexbox;
          position: absolute;
          background-color: black;
          border: solid 2px white;
          color: white;
          font-size: 20px;
          transform: translate(-5px, -5px);

          span {
            font-weight: 700;
          }
        }
      }

      .founder_name_container {
        @include w-h(350px, 80px);
        background-color: white;
        position: absolute;
        top: 9%;
        z-index: 5;

        .founder_name {
          @include w-h(100%, 100%);
          @include flexbox;
          background-color: black;
          border: solid 2px white;
          font-size: 40px;
          position: absolute;
          font-weight: 700;
          transform: translate(-5px, -5px);
        }
      }

      .founder_intro_container {
        @include w-h(400px, 400px);
        background-color: white;
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);

        .founder_intro {
          @include w-h(100%, 100%);
          background-color: black;
          border: solid 2px white;
          position: absolute;
          color: white;
          padding: 20px;
          font-size: 15px;
          transform: translate(-5px, -5px);
        }
      }
    }
  }
}
