// MIXINS
@mixin w-h($w: 50px, $h: 50px) {
  width: $w;
  height: $h;
}

@mixin flexbox($fd: row, $ai: center, $jc: center) {
  display: flex;
  flex-direction: $fd;
  align-items: $ai;
  justify-content: $jc;
}

// STYLES
.hero {
  @include w-h(100vw, 100vh);
  @include flexbox;
  background-color: black;

  h1 {
    color: white;
    font-size: 9vw;
    -webkit-text-stroke: 3px;
    -webkit-text-stroke-color: black;
    opacity: 1;
    z-index: 5;
    user-select: none;
  }

  .image_container {
    @include w-h(80%, 80%);
    position: absolute;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    column-gap: 2%;
    user-select: none;

    .hero_image {
      @include w-h(100%, 70%);
      object-fit: cover;
      opacity: 0;
    }
  }
}
