// MIXINS
@mixin w-h($w: 50px, $h: 50px) {
  width: $w;
  height: $h;
}

@mixin flexbox($fd: row, $ai: center, $jc: center) {
  display: flex;
  flex-direction: $fd;
  align-items: $ai;
  justify-content: $jc;
}

.location {
  @include w-h(100vw, 100vh);
  @include flexbox($fd: column, $jc: flex-start);
  background-color: black;
  padding: 5vh;

  .title_container {
    @include w-h(250px, 100px);
    position: relative;
    background-color: white;

    .title {
      @include w-h(100%, 100%);
      @include flexbox;
      position: absolute;
      background-color: black;
      border: solid 2px white;
      transform: translate(-5px, -5px);
      font-size: 40px;
      padding: 10px;
      font-weight: 700;
    }
  }

  .address_container {
    @include w-h(300px, 150px);
    position: relative;
    background-color: white;

    .address {
      @include w-h(100%, 100%);
      @include flexbox;
      position: absolute;
      background-color: black;
      border: solid 2px white;
      transform: translate(-5px, -5px);
      font-size: 30px;
      padding: 10px;
    }
  }

  .directions_container {
    @include w-h(250px, 120px);
    position: relative;
    background-color: white;

    .directions {
      @include w-h(100%, 100%);
      @include flexbox;
      position: absolute;
      background-color: black;
      border: solid 2px white;
      transform: translate(-5px, -5px);
      font-size: 15px;
      padding: 10px;
      text-align: center;
    }
  }
}
