// MIXINS
@mixin w-h($w: 50px, $h: 50px) {
  width: $w;
  height: $h;
}

@mixin flexbox($fd: row, $ai: center, $jc: center) {
  display: flex;
  flex-direction: $fd;
  align-items: $ai;
  justify-content: $jc;
}

@media (max-width: 999px) {
  .location {
    @include w-h(100vw, 1000px);
    @include flexbox($fd: column);

    .location_grid {
      @include w-h(400px, 700px);
      display: grid;
      grid-template-columns: repeat(8, 50px);
      grid-template-rows: repeat(14, 50px);
      justify-items: center;
      align-items: center;
    }

    .title_container {
      @include w-h(220px, 80px);
      grid-column: 1 / 6;
      grid-row: 1 / 3;
    }

    .address_container {
      @include w-h(220px, 130px);
      grid-column: 1 / 6;
      grid-row: 3 / 6;
      justify-self: flex-start;
      align-self: flex-start;
      transform: translate(5px, 5px);
    }

    .needle_container {
      @include w-h(150px, 300px);
      grid-column: 6 / 9;
      grid-row: 1 / 7;
      justify-self: flex-end;
      align-self: flex-start;
    }

    .market_container {
      @include w-h(225px, 350px);
      grid-column: 1 / 6;
      grid-row: 6 / 13;
      justify-self: flex-start;
      align-self: flex-start;
    }

    .phone_container {
      @include w-h(145px, 80px);
      grid-column: 6 / 9;
      grid-row: 7 / 9;
      justify-self: flex-end;
      align-self: flex-end;

      .phone {
        font-size: 15px;
      }
    }

    .hours_container {
      @include w-h(145px, 180px);
      grid-column: 6 / 9;
      grid-row: 9 / 13;
      justify-self: flex-end;
      align-self: flex-end;

      .hours {
        font-size: 15px;
        line-height: 1.4rem;
      }
    }

    .directions_container {
      @include w-h(395px, 80px);
      grid-column: 1 / 9;
      grid-row: 13 / 15;
      justify-self: flex-end;
      align-self: flex-end;
    }
  }
}

@media (min-width: 1000px) {
  .location {
    @include w-h(100vw, 100vh);

    .location_grid {
      @include w-h(900px, 600px);
      display: grid;
      grid-template-columns: repeat(12, 75px);
      grid-template-rows: repeat(12, 50px);
      justify-items: center;
      align-items: center;
    }

    .title_container {
      @include w-h(275px, 130px);
      grid-column: 1 / 5;
      grid-row: 1 / 4;
    }

    .address_container {
      @include w-h(285px, 125px);
      grid-column: 5 / 9;
      grid-row: 6 / 9;
      justify-self: flex-end;
      align-self: flex-end;
    }

    .needle_container {
      @include w-h(590px, 250px);
      grid-column: 5 / 13;
      grid-row: 1 / 6;
      justify-self: flex-end;
      align-self: flex-start;
    }

    .market_container {
      @include w-h(280px, 345px);
      grid-column: 1 / 5;
      grid-row: 4 / 11;
      justify-self: flex-start;
      align-self: flex-end;
    }

    .phone_container {
      @include w-h(285px, 75px);
      grid-column: 5 / 9;
      grid-row: 9 / 11;
      justify-self: flex-end;
      align-self: flex-end;

      .phone {
        font-size: 20px;
      }
    }

    .hours_container {
      @include w-h(265px, 325px);
      grid-column: 9 / 13;
      grid-row: 6 / 13;
      justify-self: flex-end;
      align-self: flex-end;

      .hours {
        font-size: 20px;
        line-height: 2.5rem;
      }
    }

    .directions_container {
      @include w-h(595px, 75px);
      grid-column: 1 / 9;
      grid-row: 11 / 13;
      justify-self: flex-start;
      align-self: flex-end;
      transform: translateX(5px);
    }
  }
}

.location {
  @include flexbox;
  background-color: black;
  padding: 5vh;

  .title_container {
    position: relative;
    background-color: white;
    justify-self: flex-start;
    align-self: flex-start;
    transform: translate(5px, 5px);

    .title {
      @include w-h(100%, 100%);
      @include flexbox;
      position: absolute;
      background-color: black;
      border: solid 2px white;
      transform: translate(-5px, -5px);
      font-size: 40px;
      padding: 10px;
      font-weight: 700;
    }
  }

  .address_container {
    position: relative;
    background-color: white;

    .address {
      @include w-h(100%, 100%);
      @include flexbox;
      position: absolute;
      background-color: black;
      border: solid 2px white;
      transform: translate(-5px, -5px);
      font-size: 25px;
      padding: 10px;
      text-align: center;
    }
  }

  .directions_container {
    position: relative;
    background-color: white;

    .directions {
      @include w-h(100%, 100%);
      @include flexbox;
      position: absolute;
      background-color: black;
      border: solid 2px white;
      transform: translate(-5px, -5px);
      font-size: 18px;
      padding: 10px;
      text-align: center;
    }
  }

  .hours_container {
    position: relative;
    background-color: white;

    .hours {
      @include w-h(100%, 100%);
      @include flexbox($fd: column);
      position: absolute;
      background-color: black;
      border: solid 2px white;
      transform: translate(-5px, -5px);
      padding: 10px;
    }
  }

  .phone_container {
    position: relative;
    background-color: white;

    .phone {
      @include w-h(100%, 100%);
      @include flexbox;
      position: absolute;
      background-color: black;
      border: solid 2px white;
      transform: translate(-5px, -5px);
      padding: 10px;
    }
  }

  .market_container {
    padding: 10px;
    border: solid 2px white;

    .market_img {
      @include w-h(100%, 100%);
      object-fit: cover;
    }
  }

  .needle_container {
    padding: 10px;
    border: solid 2px white;

    .needle_img {
      @include w-h(100%, 100%);
      object-fit: cover;
    }
  }
}
